- content_for :head do
  %script(type="text/javascript" src="/javascripts/page_form.js")

%h1
  = @title
  %span(style="font-size: 0.6em; font-weight: normal; letter-spacing: 0")
    &nbsp;
    %a{:href => "/#{@page["name"]}"} Return to page &raquo;

#debug(style="display: none") &nbsp;

%form{:action => (@page["exists"] ? "/pages/#{@page["name"]}" : "/pages"), :method => "post", :id => "page_form"}
  - if @page["exists"]
    %input(name="_method" value="put" type="hidden")
  - else
    %input(name="page_name" value="#{params[:page_name]}" type="hidden")
    
  /#debug Debug goes here
    
  %p.controls
    %a.toggle_dual_scroll(href="#") Disable dual scroll
    &nbsp;&bull;&nbsp;
    %a.toggle_display(href="#") Change display to vertical
  
  %div.block-clear
    %div#textarea_area.horiz
      %textarea#textarea(name="content" rows="25" cols="20")&= @page["exists"] ? @page["content"] : ""
    %div#preview_area_wrapper.horiz
      .ifvert
        %p
          %input(type="submit" name="save_exit" value="Save")
          %input(type="submit" name="save_return" value="Save & continue editing")
          %a(href="/#{@page["name"]}") Cancel
        %hr
        %h3 Preview:
      %div#preview_area
        #preview_loading(style="display: none")
          %span Loading...
          %img(src="/images/ajax-loader.gif" width="16" height="11" style="margin-left: 5px; vertical-align: middle")
        %div#preview
          - if @page["exists"]
            ~ render_page @page["content"]

  %p.controls
    %a.toggle_dual_scroll(href="#") Disable dual scroll
    &nbsp;&bull;&nbsp;
    %a.toggle_display(href="#") Change display to vertical
    
  %hr
    
  %p
    %input(type="submit" name="save_exit" value="Save")
    %input(type="submit" name="save_return" value="Save & continue editing")
    %a(href="/#{@page["name"]}") Cancel