!!! XML
!!!
%html
  %head
    %title= page_title
    %link(rel="stylesheet" href="/stylesheets/vendor/SimplyButtons.css")
    %link(rel="stylesheet" href="/stylesheets/master.css")
    %script(language="javascript" type="text/javascript" src="/javascripts/vendor/jquery.min.js")
    %script(language="javascript" type="text/javascript" src="/javascripts/vendor/delayed_observer.js")
    %script(language="javascript" type="text/javascript" src="/javascripts/vendor/cookie.js")
    /%script(language="javascript" type="text/javascript" src="/javascripts/vendor/SimplyButtons.js")
    /%script(language="javascript" type="text/javascript" src="/javascripts/wiki.js")
    = content_for :head
  %body
    = haml :header, :layout => false
    = content_for :before_body
    - if hide_main?
      = yield
    - else
      #main= yield